<md-list>
    <h3 md-subheader>
        <a [routerLink]="['/dashboard']">
                    Dashboard
                </a>
    </h3>
    <md-divider></md-divider>
    <h3 md-subheader>
        <a [routerLink]="['/datasets']">
                    Datasets
                </a>
    </h3>
    <md-divider></md-divider>
    <h3 md-subheader>
        <a [routerLink]="['/periods']">
                    Periods
                </a>
    </h3>
    <md-divider></md-divider>
    <h3 md-subheader>
        <a [routerLink]="['/users']">
                    Users
                </a>
    </h3>
    <md-divider></md-divider>
    <h3 md-subheader>
        <a [routerLink]="['/organization']">
                    Organization
                </a>
    </h3>
    <md-divider></md-divider>
    <h3 md-subheader>
        <a [routerLink]="['/settings']">
                    Settings
                </a>
    </h3>
</md-list>