<md-nav-list>
    <div class="nav-head">
        <div class='nav-head-content'>
            {{currentUser?.name}}
            <br>{{currentOrganizationNameIfDifferentThanUserName}}
        </div>
    </div>
<!--
    <a md-list-item [routerLink]="['/dashboard']">
        <span md-line>Dashboard</span>
    </a>
-->
    <a md-list-item [routerLink]="['/datasets']" [routerLinkActive]="['router-link-active']">
        <span md-line>Datasets</span>
    </a>
    <a md-list-item [routerLink]="['/periods']" [routerLinkActive]="['router-link-active']">
        <span md-line>Periods</span>
    </a>
    <a md-list-item [routerLink]="['/statistics']" [routerLinkActive]="['router-link-active']">
        <span md-line>Statistics</span>
    </a>
<!--
    <a md-list-item [routerLink]="['/users']" [routerLinkActive]="['router-link-active']">
        <span md-line>Users</span>
    </a>
    <a md-list-item [routerLink]="['/organization']" [routerLinkActive]="['router-link-active']">
        <span md-line>Organization</span>
    </a>
-->
    <a md-list-item [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']">
        <span md-line>Settings</span>
    </a>
</md-nav-list>
