<<!
Variables:
    toolbarTitle:       title displayed on the left hand side of the toolbar
    toolbarContent:     content displayed on the right hand side of the toolbar
    content:            the main content below the toolbar
>>
<md-sidenav-layout class="full-view-height">
    <md-sidenav #leftSidenav align="start" mode="side" opened="true">
        <left-sidenav-content></left-sidenav-content>
    </md-sidenav>
    <md-sidenav align="end" mode="side" [opened]="isDetailActive">
        <div class="layout-detail">
            <router-outlet></router-outlet>
        </div>
    </md-sidenav>

    <md-toolbar color="primary" ngClass="detail-control-toolbar">
        <span><md-icon (click)="leftSidenav.toggle()">menu</md-icon></span>
        <span><<toolbarTitle>></span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <<&toolbarContent>>
    </md-toolbar>

    <div class="progress-bar-placeholder">
        <md-progress-bar *ngIf="isInProgress" mode="indeterminate"></md-progress-bar>
    </div>
    <div class="centered-content">
        <<&content>>
    </div>
</md-sidenav-layout>