<!-- list -->
<md-data-table>
    <thead>
        <tr>
            <th class="md-text-cell">Name</th>
            <th class="md-text-cell">ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of assets">
            <td class="md-text-cell">
                <a (click)="isDetailVisible=true; isCreationFormActive=false" [routerLink]="['./', user.id]">{{user.name}}</a>
            </td>
            <td class="md-text-cell">
                <span class="id">{{user.id}}</span>
            </td>
        </tr>
    </tbody>
</md-data-table>