<!-- create -->
<md-card #newPeriodsForm *ngIf="isCreationFormActive">
    <md-card-title>Create a new statistics periods hierarchy</md-card-title>
    <md-card-content>
        <md-input [(ngModel)]="newAsset.name" placeholder="Name" maxLength="200" style="width: 100%"></md-input>
        <one-period #rootPeriod [isRoot]="true"></one-period>
        <div align="right">
            <button md-raised-button (click)="isCreationFormActive=false">
                Cancel
            </button>
            <button md-raised-button color="primary" (click)="create(rootPeriod.period.upperLevelPeriods)">
                OK
            </button>
        </div>
    </md-card-content>
</md-card>
<!-- list -->
<md-data-table>
    <thead>
        <tr>
            <th class="md-text-cell">Name</th>
            <th class="md-text-cell">ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let periods of assets">
            <td class="md-text-cell">
                <a (click)="isCreationFormActive=false" [routerLink]="['./', periods.id]" [routerLinkActive]="['router-link-active']">{{periods.name}}</a>
            </td>
            <td class="md-text-cell">
                <span class="id">{{periods.id}}</span>
            </td>
        </tr>
    </tbody>
</md-data-table>