<md-sidenav-layout>
    <md-sidenav #start mode="side" opened="true">
        <md-list>
            <h3 md-subheader (click)="datasetsOnToggle()">
                Datasets
                <md-icon *ngIf="datasetsExpanded">expand_less</md-icon>
                <md-icon *ngIf="!datasetsExpanded">expand_more</md-icon>
            </h3>
                <md-list-item *ngFor="let dataset of datasets">
                    <h4 md-line><a [routerLink]="['/dataset', dataset.id]">{{dataset.name}}</a></h4>
                    <p md-line>id = {{dataset.id}}</p>
                </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader (click)="periodsOnToggle()">
                Periods
                <md-icon *ngIf="periodsExpanded">expand_less</md-icon>
                <md-icon *ngIf="!periodsExpanded">expand_more</md-icon>
            </h3>
                <md-list-item *ngFor="let period of periods">
                     <h4 md-line><a [routerLink]="['/periods', period.id]">{{period.name}}</a></h4>
                    <p md-line>id = {{period.id}} </p>
                </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader (click)="usersOnToggle()">
                Users
                <md-icon *ngIf="usersExpanded">expand_less</md-icon>
                <md-icon *ngIf="!usersExpanded">expand_more</md-icon>
            </h3>
                <md-list-item *ngFor="let user of users">
                    <h4 md-line><a [routerLink]="['/user', user.id]">{{user.name}}</a></h4>
                    <p md-line>id = {{user.id}} </p>
                </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Organization</h3>
            <md-divider></md-divider>
            <h3 md-subheader>Settings</h3>
        </md-list>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-layout>