
.full-view-height {
     height: 100vh;
}

.centered-content{
  width: 96%;
  margin: auto;
}

.align-left{
  text-align: left;
}

.top-bottom-padded-content{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.id{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: smaller;
}

.button-on-table{
    margin-bottom: -20px;
    margin-top: 0px;
    margin-right: 20px;
    text-align: right;
}

.fill-remaining-space {
  /*  This fills the remaining space, by using flexbox.  
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.space-separate-buttons{
  width: 5rem;
  display: inline-block;
}

div.fixed-top-right{
  width: 100%; 
  text-align: right; 
  position: fixed;
}


/* the mask to cover the full view */
.background-mask{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(200,200,200); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

md-data-table * md-icon{
  opacity: 0.54;
  filter: alpha(opacity=54); /* msie */
}

/*  override material design {   */
md-toolbar-row > span > md-icon{
  cursor: pointer;
  margin-right: 10px;
}

.progress-bar-placeholder{
  height: 10px;
  min-width: 100px;
}

div.fixed-top-right > md-icon{
  cursor: pointer;
}

.md-radio-label-content{
  margin-right: 1rem;
}
/*  } override material design    */

/*   layout {    */
.layout-detail{
  text-align: left;
}

.layout-detail-edit-dialog{
  position: absolute; 
  z-index: 1; 
  min-width: 440px;
  top: -8px;
}

@media screen and (max-width: 599px){
  .layout-detail{
    width: 100vw;
  }
  .layout-detail-edit-dialog{
    width: 80vw;
  }
}
@media screen and (min-width:600px) and (max-width: 999px){
  .layout-detail{
    width: 600px;
  }
  .layout-detail-edit-dialog{
    width: 480px;
  }
}
@media screen and (min-width:1000px){
  .layout-detail{
    width: 60vw;
  }
  .layout-detail-edit-dialog{
    width: 48vw;
  }

}


/*   }layout     */

/*      spin {      */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*      } spin     */

