<md-sidenav-layout class="full-view-height">
    <md-sidenav #leftSidenav align="start" mode="side" opened="true">
        <left-sidenav-content></left-sidenav-content>
    </md-sidenav>

    <md-toolbar color="primary">
        <span><md-icon (click)="leftSidenav.toggle()">menu</md-icon></span>
        <span>Settings</span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
    </md-toolbar>

    <div class="centered-content settings-content">
        <div>
        <md-input [(ngModel)]="settings.manageApiBaseUrl" placeholder="Management API base URL" maxLength="100"></md-input>
        </div><div>
        <md-input [(ngModel)]="settings.dataApiBaseUrl" placeholder="Data API base URL" maxLength="100"></md-input>
        </div><div>
        <md-input [(ngModel)]="settings.organizationApiKey" placeholder="Organization API key" type="password" maxLength="100"></md-input>
        </div>
    </div>
</md-sidenav-layout>