<md-sidenav-layout class="full-view-height">
    <md-sidenav #leftSidenav align="start" mode="side" opened="true">
        <left-sidenav-content></left-sidenav-content>
    </md-sidenav>

    <md-toolbar color="primary">
        <span><md-icon (click)="leftSidenav.toggle()">menu</md-icon></span>
        <span>Settings</span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
    </md-toolbar>

    <div class="centered-content">
        Coming soon...
    </div>
</md-sidenav-layout>